<!DOCTYPE html>
<html lang="en">

<div class="project-page">lenses</div>
<div class="project-page-center">

	<div class="lens">
		<video class="snap-vid" autoplay muted loop src="/videos/chantell.mp4"></video>
		<div class="lens-name">chantel jeffries</div>
	</div>
	<div class="lens">
		<video class="snap-vid" autoplay muted loop src="/videos/olivia_2.MP4"></video>
		<div class="lens-name">olivia o'brien</div>
	</div>
	<div class="lens">
		<video class="snap-vid" autoplay muted loop src="/videos/halsey.MP4"></video>
		<div class="lens-name">halsey</div>
	</div>

</div>