<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>

  {{> main}}

  <div class="about-intro">
    <div class="about-header">lover of startups, comedy, and coffee</div>
    <div class="about-headshot"></div>
    <div class="about-des">
      Hey, I'm Marco! I'm an aspiring product manager based in Frankfurt am Main Germany.</div>
    <div class="about-des">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    <div class="about-des">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</div>
    <div class="about-des">Previously sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </div>
    <div class="about-whatido">what i do</div>
    <div class="about-what">Web Development (JavaScript, React, Java)</div>
    <div class="about-what">Digital design & Motion Graphics</div>
    <div class="about-what">User Experience Design</div>
    <div class="about-what">Graphic Design & Branding</div>
  </div>
  <div class="about-next">
    <div class="about-ready">ready to see what's next?</div>
    <a class="about-chat" href="/contact">let's chat</a>
  </div>

  {{> footer}}

</body>