<!DOCTYPE html>
<html lang="en">
<body>
  {{> main}}

  <div class="contact-container">
    <div class="contact-title">let's chat</div>
    <form class="contact-form" id="contact-form" action="/contact" method="POST">
      <div class="contact-label">Your Name (required)</div>
      <input type="text" id="fullname" name="fullname" placeholder="Your name..">
      <div class="contact-label">Your Email (required)</div>
      <input type="text" id="email" name="email" placeholder="Your email..">
      <div class="contact-label">Subject</div>
      <input type="text" id="subject" name="subject" placeholder="Subject..">
      <div class="contact-label">Your Note</div>
      <textarea rows="5" cols="50" id="note" name="note" placeholder="Your note.."></textarea>
      <input type="submit" value="Submit" onclick="hideContact()">
    </form>
    <div id="contact-thankyou">Good to be in touch! I'll get back to you shortly!</div>
  </div>

 {{> footer}}
 </body>

 <script>
  var contactForm = document.getElementById('contact-form');
  var contactThanks = document.getElementById('contact-thankyou');
  function hideContact() {
    contactForm.style.display = 'none';
    contactThanks.style.display = 'block';
  }
</script>