<!DOCTYPE html>
<html lang="en">
<body>
    {{> main}}

  <div class="home">
    <div class="decor"></div>
    <div class="home-case">
      <div class="home-box">
        <div class="typewriter">
          <h1>Hey, I'm Marco! I'm a</h1>
        </div>
        <div class="typewriter-1">
          <h1>web developer and designer</h1>
        </div>
        <div class="typewriter-2">
          <h1>living in Frankfurt am Main.</h1>
        </div>
      </div>
      <a class="home-button" href="/work">recent work</a>
      <a class="home-button" href="/contact">let's chat</a>
    </div>
  </div>

{{> footer}}
</body>